DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_CHANNEL_ID=
DISCORD_WEBHOOK_URL=
PROD_HEALTH_CHECK_URL=http://gujeuk-app-prod:8080/common/health/ready
STAG_HEALTH_CHECK_URL=http://gujeuk-app-stag:8080/common/health/ready
REPORT_CRON=0 0 * * * *
