APP_IMAGE=ghcr.io/gujeuk-check-in/gujeuk-check-in-server:prod-b12496b92436a98abbbae9d29446e609d9edd93e
APP_CONTAINER_NAME=gujeuk-app-prod
APP_PORT=8080

MYSQL_CONTAINER_NAME=gujeuk-mysql-prod
MYSQL_DATABASE=gujeuk_prod
MYSQL_USER=prod
MYSQL_PASSWORD=change-me-prod-db-password
MYSQL_ROOT_PASSWORD=change-me-prod-root-password
MYSQL_VOLUME_NAME=gujeuk-aws-prod-mysql-data

REDIS_CONTAINER_NAME=gujeuk-redis-prod
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_VOLUME_NAME=gujeuk-aws-prod-redis-data

DB_URL=jdbc:mysql://mysql:3306/gujeuk_prod?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
JWT_SECRET_KEY=change-me-prod-jwt-secret
JAVA_OPTS=-Xms128m -Xmx384m

PROD_BASE_URL=https://gujeuk.dsmhs.kr
STAG_BASE_URL=https://aws-stag.oijwef098234.com,https://prototype.taisu.site
VERCEL_URL=https://gujeuk-check-in-fe.pages.dev
TEST_URL=http://localhost:5173,http://localhost:5174
