APP_IMAGE=ghcr.io/gujeuk-check-in/gujeuk-check-in-server:stag-c40df37e2a6e8c208dd569e8419f2b17a261371e
APP_CONTAINER_NAME=gujeuk-app-stag
APP_PORT=8081

MYSQL_CONTAINER_NAME=gujeuk-mysql-stag
MYSQL_DATABASE=gujeuk_stag
MYSQL_USER=stag
MYSQL_PASSWORD=change-me-stag-db-password
MYSQL_ROOT_PASSWORD=change-me-stag-root-password
MYSQL_VOLUME_NAME=gujeuk-aws-stag-mysql-data

REDIS_CONTAINER_NAME=gujeuk-redis-stag
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_VOLUME_NAME=gujeuk-aws-stag-redis-data

DB_URL=jdbc:mysql://mysql:3306/gujeuk_stag?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
JWT_SECRET_KEY=change-me-stag-jwt-secret
JAVA_OPTS=-Xms128m -Xmx384m

PROD_BASE_URL=https://gujeuk.dsmhs.kr
STAG_BASE_URL=https://aws-stag.oijwef098234.com,https://prototype.taisu.site
VERCEL_URL=https://gujeuk-check-in-fe.pages.dev
TEST_URL=http://localhost:5173,http://localhost:5174
