DB_URL=jdbc:mysql://mysql:3306/gujeuk_stag?serverTimezone=Asia/Seoul
JAVA_OPTS=-Xms64m -Xmx128m
JWT_SECRET_KEY=change-me
MYSQL_DATABASE=gujeuk_stag
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
MYSQL_USER=stag
PROD_BASE_URL=https://gujeuk.dsmhs.kr
REDIS_HOST=redis
REDIS_PORT=6379
STAG_BASE_URL=https://gujeuk-check-in-develop.pages.dev,https://prototype.taisu.site
TEST_URL=http://localhost:5173,http://localhost:5174
VERCEL_URL=https://gujeuk-check-in-fe.pages.dev
APP_PORT=8081
APP_IMAGE=gujeuk-check-in-server:staging
APP_CONTAINER_NAME=gujeuk-app-stag
MYSQL_CONTAINER_NAME=gujeuk-mysql-stag
REDIS_CONTAINER_NAME=gujeuk-redis-stag
MYSQL_VOLUME_NAME=gujeuk-mysql-stag-data
REDIS_VOLUME_NAME=gujeuk-redis-stag-data
