APP_IMAGE=dockerhub-username/gujeuk-check-in:develop
APP_PORT=8081
DB_URL=jdbc:mysql://stag-mysql:3306/gujeuk_stag?serverTimezone=Asia/Seoul
JAVA_OPTS=-Xms64m -Xmx128m
JWT_SECRET_KEY=dfghiuyftrdetfyguhij13243t5ygref
MYSQL_DATABASE=gujeuk_stag
MYSQL_PASSWORD=oijwef098234
MYSQL_ROOT_PASSWORD=oijwef098234
MYSQL_USER=stag
PROD_BASE_URL=https://gujeuk.dsmhs.kr
REDIS_HOST=stag-redis
REDIS_PORT=6379
STAG_BASE_URL=https://gujeuk-check-in-develop.pages.dev
TEST_URL=http://localhost:5173,http://localhost:5174
VERCEL_URL=https://gujeuk-check-in-fe.pages.dev
