spring:
  jackson:
    time-zone: Asia/Seoul

  main:
    allow-bean-definition-overriding: true

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_NAME}
    password: ${DB_PASSWORD}

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 20MB

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
    show-sql: true
    hibernate:
      jdbc:
        time_zone: Asia/Seoul
      ddl-auto: update

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    validate-on-migrate: false

jwt:
  header: Authorization
  prefix: Bearer
  accessExpiration: 3600
  refreshExpiration: 60400
  secretKey: ${JWT_SECRET_KEY}

  logging:
    level:
      root: DEBUG

redis:
  host: ${REDIS_HOST}
  port: ${REDIS_PORT}

logging:
  level:
    org.springframework.data.redis: DEBUG
    io.lettuce.core: DEBUG
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace

cors:
  allowed-origins:
    prod-url: ${PROD_BASE_URL}
    stag-url: ${STAG_BASE_URL}
    vercel-url: ${VERCEL_URL}
    test-url: ${TEST_URL}